/*
	http://www.paulirish.com/2012/box-sizing-border-box-ftw
	.. if you know what's good for ya'!
*/

*, *:before, *:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
