@import "_box-sizing.css";
@import "../normalize.css/normalize.css";
@import "bourbon";

@import "_logo.scss";
@import "_ratings.scss";
@import "_bar-chart.scss";
@import "_pie-chart.scss";


$widget-base-bg-color: #eeeeee;
$widget-highlight-bg-color: #f9f9f9;
$widget-font-highlight-color: #35d888;
$widget-indent-highlight-color: #fdfdfd;
$widget-indent-shadow-color: #ebebeb;
$widget-indent-highlight-color-rgba: rgba(255, 255, 255, 0.95);
$widget-indent-shadow-color-rgba: rgba(0, 0, 0, 0.07);
$widget-logo-text-base-color: #19171c;
$widget-logo-text-highlight-color: #878c90;
$widget-bar-base-color: #878c90;
$widget-bar-highlight-color: #878c90;


.scope-trustpilot
{
    &.data-error aside
    {
        display: none;
    }

    &.data-working aside
    {
        visibility: hidden;
    }

    &.data-loaded aside
    {
        display: block;
    }

    aside
    {
        width: 240px;
        margin: 100px auto;

        border-radius: 5px;
        background-color: $widget-highlight-bg-color;
        @include radial-gradient(circle at 50% 50%, $widget-base-bg-color 0%, $widget-highlight-bg-color 100%);

        h1, h2, h3, p, a
        {
            display: inline-block;
            margin: 0;

            font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 14px * 1.48;
            color: #333;
        }

        h1
        {
            font-size: 50px;
            font-weight: 600;
            line-height: 50px * 1.48;
            color: $widget-font-highlight-color;
        }

        h2, h2 a
        {
            font-weight: 500;
        }

        header
        {
            padding: 20px;

            border-bottom: solid 1px $widget-indent-shadow-color;
            border-bottom-color: $widget-indent-shadow-color-rgba;

            h1
            {
                line-height: 48px;
            }

            h2 a
            {
                font-weight: 600;

                &:hover
                {
                    text-decoration: none;
                }
            }

            .ratings
            {
                margin: 20px 0 10px 0;
            }
        }

        section
        {
            padding: 25px 20px;

            border-top: solid 1px $widget-indent-highlight-color;
            border-bottom: solid 1px $widget-indent-shadow-color;
            border-top-color: $widget-indent-highlight-color-rgba;
            border-bottom-color: $widget-indent-shadow-color-rgba;

            .ratings figure /* TODO: fiddle with shadows */
            {
                color: #c6c6c6;
                color: rgba(0, 0, 0, 0.23);
                text-shadow: 0px 1px rgba(255, 255, 255, 0.95);
            }

            .bar-chart
            {
                margin: 10px 0;
            }
        }

        footer
        {
            padding: 20px;
            padding-bottom: 30px;

            border-top: solid 1px $widget-indent-highlight-color;
            border-top-color: $widget-indent-highlight-color-rgba;

            text-align: center;

            h3
            {
                display: block;
                margin-bottom: 10px;
            }

            .logo
            {
                display: inline-block;
                width: 22px;
                height: 22px;
            }

            a
            {
                display: inline-block;

                height: 22px;

                font-size: 0;
                line-height: 22px;
                letter-spacing: 0;
                text-decoration: none;
                vertical-align: middle;

                span
                {
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 22px;

                    color: $widget-logo-text-base-color;
                }

                span + span
                {
                    color: $widget-logo-text-highlight-color;
                }
            }
        }
    }
}
