@import "box-sizing.css";
@import "../normalize.css/normalize.css";
@import "bourbon";

@import "_logo.scss";
@import "_ratings.scss";


/* TRUSTPILOT COLOR-SCHEME
$ratings-star-size: 48px;
$ratings-star-bg-color: #d8d9d9;
$ratings-star-bg-on-color: #f47324;
$ratings-star-color: #fff; */


.scope-trustpilot
{
	.ratings
	{
		margin: 100px;
		text-align: center;
	}

	.logo, .logo-alt
	{
		width: 400px;
		height: 400px;
		margin: 100px auto;
	}
}
