@import url(box-sizing.css);
@import url(../normalize.css/normalize.css);
.scope-trustpilot div.logo {
  display: block; }
  .scope-trustpilot div.logo figure {
    margin: 0; }
  .scope-trustpilot div.logo a {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f99d29; }
    .scope-trustpilot div.logo a:before {
      content: "";
      position: absolute;
      display: block;
      opacity: 0.4;
      width: 250%;
      height: 200%;
      top: -161%;
      left: -75%;
      border-radius: 100%;
      background-color: white;
      background-image: -webkit-radial-gradient(50% 65%, circle, #f99d29 0%, white 50%);
      background-image: radial-gradient(  circle at 50% 65%, #f99d29 0%, white 50%); }
    .scope-trustpilot div.logo a figure:first-child {
      content: "";
      position: absolute;
      display: block;
      width: 163%;
      height: 93%;
      bottom: -42%;
      left: -87%;
      -webkit-transform: rotate(38deg);
      -moz-transform: rotate(38deg);
      -ms-transform: rotate(38deg);
      -o-transform: rotate(38deg);
      transform: rotate(38deg);
      border-radius: 100%;
      background-color: black;
      background-image: -webkit-radial-gradient(100% 100%, circle, black 40%, #666666 100%);
      background-image: radial-gradient(  circle at 100% 100%, black 40%, #666666 100%); }
      .scope-trustpilot div.logo a figure:first-child:before {
        content: "";
        position: absolute;
        display: block;
        width: 70%;
        height: 93%;
        left: 32%;
        bottom: -14%;
        -webkit-transform: rotate(-16deg);
        -moz-transform: rotate(-16deg);
        -ms-transform: rotate(-16deg);
        -o-transform: rotate(-16deg);
        transform: rotate(-16deg);
        border-radius: 100%;
        background-color: #f99d29;
        background: -webkit-linear-gradient(#f99d29, #d07606);
        background: linear-gradient(#f99d29, #d07606); }
    .scope-trustpilot div.logo a figure + figure {
      content: "";
      position: absolute;
      display: block;
      width: 106%;
      height: 178%;
      bottom: -69%;
      right: -60%;
      -webkit-transform: rotate(16deg);
      -moz-transform: rotate(16deg);
      -ms-transform: rotate(16deg);
      -o-transform: rotate(16deg);
      transform: rotate(16deg);
      border-radius: 100%;
      background-color: black;
      background-image: -webkit-radial-gradient(50% 100%, circle, black 40%, #666666 100%);
      background-image: radial-gradient(  circle at 50% 100%, black 40%, #666666 100%); }
      .scope-trustpilot div.logo a figure + figure:before {
        content: "";
        position: absolute;
        display: block;
        width: 93%;
        height: 94%;
        left: 11%;
        bottom: -18%;
        border-radius: 100%;
        background-color: #f99d29;
        background: -webkit-linear-gradient(#f99d29, #d07606);
        background: linear-gradient(#f99d29, #d07606); }
.scope-trustpilot div.logo-alt figure {
  margin: 0; }
.scope-trustpilot div.logo-alt a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f99d29; }
  .scope-trustpilot div.logo-alt a:before {
    content: "";
    position: absolute;
    display: block;
    opacity: 1;
    width: 250%;
    height: 200%;
    top: -161%;
    left: -75%;
    border-radius: 100%;
    background-color: white;
    background-image: -webkit-radial-gradient(50% 50%, circle, #f99d29 40%, white 100%);
    background-image: radial-gradient(  circle at 50% 50%, #f99d29 40%, white 100%); }
  .scope-trustpilot div.logo-alt a figure:before {
    content: "";
    position: absolute;
    display: block;
    width: 163%;
    height: 93%;
    bottom: -42%;
    left: -87%;
    -webkit-transform: rotate(38deg);
    -moz-transform: rotate(38deg);
    -ms-transform: rotate(38deg);
    -o-transform: rotate(38deg);
    transform: rotate(38deg);
    border-radius: 100%;
    background-color: black;
    background-image: -webkit-radial-gradient(72% 101%, circle, #f99d29 0%, #f99d29 50%, black 50%, gray 100%);
    background-image: radial-gradient(  circle at 72% 101%, #f99d29 0%, #f99d29 50%, black 50%, gray 100%); }
  .scope-trustpilot div.logo-alt a figure:after {
    content: "";
    position: absolute;
    display: block;
    width: 106%;
    height: 178%;
    bottom: -69%;
    right: -60%;
    -webkit-transform: rotate(16deg);
    -moz-transform: rotate(16deg);
    -ms-transform: rotate(16deg);
    -o-transform: rotate(16deg);
    transform: rotate(16deg);
    border-radius: 100%;
    background-color: black;
    background-image: -webkit-radial-gradient(74% 59%, circle, #f99d29 0%, #f99d29 50%, black 50%, gray 100%);
    background-image: radial-gradient(  circle at 74% 59%, #f99d29 0%, #f99d29 50%, black 50%, gray 100%); }

/* TRUSTPILOT COLOR-SCHEME
$ratings-star-size: 48px;
$ratings-star-bg-color: #d8d9d9;
$ratings-star-bg-on-color: #f47324;
$ratings-star-color: #fff; */
.scope-trustpilot div.ratings {
  font-size: 0;
  letter-spacing: 0; }
  .scope-trustpilot div.ratings.rating-1 figure:first-child {
    background-color: #35d888;
    background: -webkit-linear-gradient(#35d888, #25bf74);
    background: linear-gradient(#35d888, #25bf74); }
  .scope-trustpilot div.ratings.rating-2 figure {
    background-color: #35d888;
    background: -webkit-linear-gradient(#35d888, #25bf74);
    background: linear-gradient(#35d888, #25bf74); }
  .scope-trustpilot div.ratings.rating-2 figure + figure + figure {
    background-color: #d8d9d9;
    background: -webkit-linear-gradient(#d8d9d9, #c3c5c5);
    background: linear-gradient(#d8d9d9, #c3c5c5); }
  .scope-trustpilot div.ratings.rating-3 figure {
    background-color: #35d888;
    background: -webkit-linear-gradient(#35d888, #25bf74);
    background: linear-gradient(#35d888, #25bf74); }
  .scope-trustpilot div.ratings.rating-3 figure + figure + figure + figure {
    background-color: #d8d9d9;
    background: -webkit-linear-gradient(#d8d9d9, #c3c5c5);
    background: linear-gradient(#d8d9d9, #c3c5c5); }
  .scope-trustpilot div.ratings.rating-4 figure {
    background-color: #35d888;
    background: -webkit-linear-gradient(#35d888, #25bf74);
    background: linear-gradient(#35d888, #25bf74); }
  .scope-trustpilot div.ratings.rating-4 figure + figure + figure + figure + figure {
    background-color: #d8d9d9;
    background: -webkit-linear-gradient(#d8d9d9, #c3c5c5);
    background: linear-gradient(#d8d9d9, #c3c5c5); }
  .scope-trustpilot div.ratings.rating-5 figure {
    background-color: #35d888;
    background: -webkit-linear-gradient(#35d888, #25bf74);
    background: linear-gradient(#35d888, #25bf74); }
  .scope-trustpilot div.ratings.ratings-transparent > figure {
    background: transparent;
    background-color: transparent; }
  .scope-trustpilot div.ratings.ratings-size-small > figure {
    width: 18px;
    height: 18px;
    margin-left: 2px;
    font-size: 13px;
    line-height: 18px; }
  .scope-trustpilot div.ratings.ratings-size-medium > figure {
    width: 30px;
    height: 30px;
    margin-left: 3px;
    font-size: 21px;
    line-height: 30px; }
  .scope-trustpilot div.ratings.ratings-size-large > figure {
    width: 48px;
    height: 48px;
    margin-left: 5px;
    font-size: 34px;
    line-height: 48px; }
  .scope-trustpilot div.ratings figure {
    display: inline-block;
    margin: 0;
    width: 48px;
    height: 48px;
    margin-left: 5px;
    font-size: 34px;
    line-height: 48px;
    border-radius: 12%;
    text-align: center;
    background-color: #d8d9d9;
    background: -webkit-linear-gradient(#d8d9d9, #c3c5c5);
    background: linear-gradient(#d8d9d9, #c3c5c5);
    color: white; }
    .scope-trustpilot div.ratings figure:first-child {
      margin-left: 0; }

@-moz-document url-prefix() {
  .scope-trustpilot div.ratings.ratings-size-small > figure {
    font-size: 24px; }
  .scope-trustpilot div.ratings.ratings-size-medium > figure {
    font-size: 39px; }
  .scope-trustpilot div.ratings.ratings-size-large > figure {
    font-size: 63px; }
  .scope-trustpilot div.ratings figure {
    font-size: 63px; } }
@media screen\0 {
  .scope-trustpilot div.ratings.ratings-size-medium > figure {
    font-size: 16px; }
  .scope-trustpilot div.ratings.ratings-size-medium > figure {
    font-size: 26px; }
  .scope-trustpilot div.ratings.ratings-size-large > figure {
    font-size: 41px; }
  .scope-trustpilot div.ratings figure {
    font-size: 41px; } }
.scope-trustpilot .ratings {
  margin: 100px;
  text-align: center; }
.scope-trustpilot .logo, .scope-trustpilot .logo-alt {
  width: 400px;
  height: 400px;
  margin: 100px auto; }
